@import "__nullstyle";
@import "__fonts";

body {
  color: black;
  font-family: Gilroy;
}

.container {
  display: flex;
  margin: auto;
  width: 100%;

  @media screen and (min-width: 745px) {
    //1920
    max-width: 1600px;
  }
  @media screen and (max-width: 744px) and (min-width: 376px) {
    //tablet
    max-width: 655px;
  }
}

.menu {
  img {
    size: 100%;
  }
  display: flex;
  margin: auto;
  width: 100%;
  max-width: 1600px;

  font-family: Gilroy;
  font-weight: 400;
  font-size: 18px;
  padding: 20px;
  align-items: center;

  &__nav {
    display: flex;
    align-items: center;

    &_item {
      margin: 0 25px;
    }
  }
  &__social {
    display: flex;
    align-items: center;
    margin-left: auto;
    &_item {
      color: #612b8b;
      margin: 0 4px;
      font-weight: 600;
    }
  }

  @media screen and (max-width: 744px) and (min-width: 376px) {
    //tablet

    &__social {
      &_item:nth-child(1) {
        display: none;
      }
      :nth-child(2) {
        display: none;
      }
    }
  }
}

.title {
  font-family: KharkivTone;

  @media screen and (min-width: 745px) {
    //1920
    font-size: 60px;
    line-height: 130%;
  }
  @media screen and (max-width: 744px) and (min-width: 376px) {
    //tablet
    font-size: 40px;
    line-height: 130%;
  }
}

.study {
  @media screen and (min-width: 745px) {
    //1920
    &__body {
      background: #f7f7ff url("../img/study-bg-1920.png") no-repeat;
      background-position: 100% 10%;
      padding: 15.5% 0 0 14.5%;
      &_title {
        max-width: 620px;
      }

      &_text {
        font-size: 25px;
        max-width: 580px;
      }
    }
  }

  @media screen and (max-width: 744px) and (min-width: 376px) {
    //tablet
    &__body {
      background: #f7f7ff url("../img/study-bg-tablet.png") no-repeat;
      padding: 40.5% 0 0 4.5%;
      background-position: 50% 3%;

      &_title {
        max-width: 420px;
      }
      &_text {
        font-size: 22px;
        line-height: 130%;
        max-width: 485px;
      }
    }
  }

  display: flex;
  margin: auto;

  &__body {
    width: 100%;
    height: 800px;
    border-radius: 50px;

    &_title {
      margin-bottom: 60px;
    }
    &_text {
      font-family: Gilroy;
      font-weight: 400;

      margin-bottom: 40px;
    }

    &_btn {
      max-width: 250px;
      width: 100%;
      height: 60px;
      background: #97cf26;
      border-radius: 50px;
      font-family: Gilroy;
      font-weight: 600;
      font-size: 18px;
      color: white;
    }
  }
}
.about {
  @media screen and (min-width: 745px) {
    //1920
    &__body {
      padding: 200px 0 160px 0;
      margin: auto;
      &_title {
        margin: auto;
        max-width: 1553px;
        line-height: 120%;
        margin-bottom: 105px;
        span:nth-child(2) {
          display: block;
          text-align: right;
        }
      }

      &_table {
        display: flex;
        width: fit-content;
        margin: auto;
        align-items: center;
        margin-bottom: 120px;
      }

      &_table-item {
        font-weight: 600;
        font-size: 25px;
        line-height: 150%;
        :nth-child(1) {
          margin: 0 100px 0 0;
          max-width: 640px;
        }
      }
      &_table-item_1920 {
        display: none;
      }
      &_line {
      }
    }
  }

  &__body {
    width: 100%;

    &_title {
    }

    &_table {
    }

    &_table-item {
    }

    &_line {
      width: 100%;
      display: flex;
      margin: auto;
    }
  }
}

.title-h2 {
  font-family: "Kharkiv Tone";
  font-weight: 400;
  color: #ffffff;

  @media screen and (min-width: 745px) {
    //1920
    font-size: 40px;
    line-height: 130%;
    padding: 60px 0 80px 0;
  }
  @media screen and (max-width: 744px) and (min-width: 376px) {
    //tablet
    font-size: 30px;
    line-height: 130%;
    padding: 40px 0 70px 0;
  }
}

.container-small {
  display: flex;
  margin: auto;
  width: 100%;

  @media screen and (min-width: 745px) {
    //1920
    max-width: 1140px;
  }
  @media screen and (max-width: 744px) and (min-width: 376px) {
    //tablet
    max-width: 715px;
  }
}
.servises {
  @media screen and (min-width: 745px) {
    //1920
    &__body {
      &_unit {
        max-width: 556px;
      }
    }
  }
  @media screen and (max-width: 745px) and (min-width: 376px) {
    //tablet
    &__body {
      &_unit {
        max-width: 352px;
      }
    }
  }
  background: #5f30e2;

  &__title {
  }

  &__body {
    width: 100%;
    margin: auto;
    &_unit {
      width: 100%;
      border-radius: 50px;
    }
  }
}
.flexservises {
  display: flex;
  justify-content: space-between;
}
.flex-unit {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 30px;
  justify-content: space-between;
  align-items: flex-start;
}

.unit {
  @media screen and (min-width: 745px) {
    &_attention {
      padding: 25px 0 40px 0;
    }

    &_title {
      font-size: 25px;
    }
    &_text {
      p {
        font-size: 20px;
      }
    }
    &_text-list {
      font-size: 15px;
    }
    &_attention {
      font-size: 15px;
    }
  }

  @media screen and (max-width: 744px) and (min-width: 376px) {
    &_attention {
      padding-bottom: 25px;
    }
    &_title {
      font-size: 19px;
    }
    &_text {
      p {
        font-size: 17px;
      }
    }
    &_text-list {
      font-size: 12px;
    }
    &_attention {
      font-size: 12px;
    }
  }

  // all sizes
  &_title {
    font-family: "Kharkiv Tone";
    line-height: 150%;
    padding-left: 50px;
    padding: 0 0 20px 0;
    display: flex;
    img {
      padding-right: 5px;
      vertical-align: top;
    }
  }

  &_text {
    p {
      font-weight: 500;

      line-height: 130%;
      margin-bottom: 15px;
    }
  }

  &_text-list {
    font-weight: 400;
    line-height: 130%;
  }

  &_text-item {
    margin-bottom: 12px;
  }

  &_attention {
    font-weight: 700;
    line-height: 130%;
    display: flex;
  }

  &_btn {
    display: block;
    margin: 0 auto;
    max-width: 335px;
    width: 100%;
    height: 70px;
    background: #612b8b;
    border-radius: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: white;
  }
}

.unit1 {
  color: white;
  background: #97cf26;
  @media screen and (min-width: 745px) {
    padding: 40px;
  }
  @media screen and (max-width: 744px) and (min-width: 376px) {
    padding: 40px 25px;
  }
}

.unit2 {
  background: #ffffff;
  @media screen and (min-width: 745px) {
    padding: 40px;
  }
  @media screen and (max-width: 744px) and (min-width: 376px) {
    padding: 40px 25px;
  }
}

.unit3 {
  background: #d7ff87;
  @media screen and (min-width: 745px) {
    padding: 40px;
  }
  @media screen and (max-width: 744px) and (min-width: 376px) {
    padding: 40px 25px;
  }
}

.unit4 {
  margin: 0;
  padding: 0;
  img {
    width: 100%;
  }
}

.footer {
  &__body {
    max-width: 1007px;
    width: 100%;
    margin: auto;
  }

  &__nav {
    padding: 30px 0;
    align-items: center;
    display: flex;
    justify-content: space-around;
    &_item {
      font-weight: 400;
      font-size: 18px;
    }
  }
}
